/* Any custom CSS rules you want can go here. */

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

.font-libre {
    font-family: 'Libre Baskerville', serif;
}

.hero-background {
    background-image: linear-gradient(to bottom, rgba(46, 42, 77, 0.7), rgba(46, 42, 77, 0.7)), url('https://placehold.co/1920x1080/047857/ffffff?text=Construction+Background');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cta-background {
    background-image: linear-gradient(to bottom, rgba(46, 42, 77, 0.7), rgba(46, 42, 77, 0.7)), url('https://placehold.co/1920x1080/047857/ffffff?text=Team+Working');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
